
[data-md-color-scheme="workspace"] {
    --md-primary-fg-color:          #241B2F;
    --md-accent-fg-color:           #5C41E2;
    --md-default-bg-color:          #FFFFFF;
    --md-typeset-color:             #1C1C1C;
    --md-typeset-a-color:           #604270;
    --md-code-bg-color:             #252525;
    --md-code-fg-color:             #EAB676;
}
[data-md-color-scheme="workspace-dark"] {
    --md-primary-fg-color:          #7747A7;
    --md-accent-fg-color:           #DF736A;
    --md-default-bg-color:          #171520;
    --md-typeset-color:             #FFFFFF;
    --md-typeset-a-color:           #83698E;
    --md-code-bg-color:             #3C3C3C;
    --md-code-fg-color:             #EAB676;
}

.md-header {
    color: #FFFFFF; !important;
    }

.md-nav__link--active {
    color: #eab676 !important;
}